[submodule "external/apps/textpad"]
	path = external/apps/textpad
	url = https://github.com/ReEnvision-AI/textpad
[submodule "external/apps/terminal"]
	path = external/apps/terminal
	url = https://github.com/ReEnvision-AI/terminal
[submodule "external/apps/calculator"]
	path = external/apps/calculator
	url = https://github.com/ReEnvision-AI/calculator
[submodule "external/apps/sheetai"]
	path = external/apps/sheetai
	url = https://github.com/ReEnvision-AI/sheetai
[submodule "external/apps/salesflow"]
	path = external/apps/salesflow
	url = https://github.com/ReEnvision-AI/salesflow
[submodule "external/apps/prez"]
	path = external/apps/prez
	url = https://github.com/ReEnvision-AI/prez
[submodule "external/apps/localai"]
	path = external/apps/localai
	url = https://github.com/ReEnvision-AI/localai
[submodule "external/apps/datagrid"]
	path = external/apps/datagrid
	url = https://github.com/ReEnvision-AI/datagrid
[submodule "external/apps/chattyai"]
	path = external/apps/chattyai
	url = https://github.com/ReEnvision-AI/chattyai
[submodule "external/apps/appbuilder"]
	path = external/apps/appbuilder
	url = https://github.com/ReEnvision-AI/appbuilder
[submodule "external/apps/aidevstudio"]
	path = external/apps/aidevstudio
	url = https://github.com/ReEnvision-AI/aidevstudio
[submodule "external/apps/aibrowser"]
	path = external/apps/aibrowser
	url = https://github.com/ReEnvision-AI/aibrowser
[submodule "external/types"]
	path = external/types
	url = https://github.com/ReEnvision-AI/types
